---
import Header from '../components/header/header.astro';
import Footer from '../components/footer/footer.astro';
import Hero from '../sections/hero/hero.astro';
import Purpose from '../sections/purpose/purpose.astro';
import About from '../sections/about/about.astro';
import Services from '../sections/services/services.astro';
import Clients from '../sections/clients/clients.astro';
import Button from '../components/button/button.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="VISUS | Estudio Contable y Consultoría Estratégica">
    <Header>
        <Button slot="actions" href="https://wa.me/+543513856706" variant="primary">Contacto</Button>
    </Header>
    <main>
        <Hero 
            title="Hacemos que las"
            accentTitle="Cosas Sucedan"
            description="Acompañamos a personas en el desafío de diagramar su propósito a través de consultoría y asistencia estratégica en lo impositivo, contable, procesos, sistemas, tecnología, capital humano, todo con un enfoque integral, sustentable y sobre todo con humanidad."
        />
        <About />
        <Services />
        <Purpose />
        <Clients />
    </main>
    <Footer />
</Layout>
